* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    background-color: white;
    display: flex;
    border-radius: 15px;
    max-width: 700px;
    position: relative;
    box-shadow: 10px 21px 30px 0px rgba(158,175,194,0.2);
}

.drawer {
    flex: 110%;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-position: top 0 left -15px;
}

.content {
    padding: 30px 40px;
}

.title {
    font-size: 1.3rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.text {
    color: var(--desaturated-dark-blue);
    line-height: 20px;
    margin: 16px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.author {
    display: flex;
    gap: 16px;
}

.author img {
    width: 40px;
    border-radius: 50%;
}

.author #info p {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    margin-bottom: 5px;
}

.author #info span {
    color: var(--grayish-blue);
}

button {
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

button:hover {
    background-color: var(--very-dark-grayish-blue);
}

.share-tooltip {
    display: none;
    justify-content: space-around;
    list-style: none;
    background-color: var(--very-dark-grayish-blue);
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: -75px;
    right: -110px;
}

.share-tooltip::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 115px;
    border: 10px solid transparent;
    border-top-color: var(--very-dark-grayish-blue);
}

.share-tooltip-visible {
    display: flex;
}

.share-tooltip li {
    display: inline-block;
    letter-spacing: 5px;
    line-height: 40px;
    margin: 0 5px;
}

.share-tooltip li a {
    text-decoration: none;
    color: var(--grayish-blue);
}

.share-tooltip li a:hover {
    opacity: 0.6;
}

.share-mobile {
    display: none;
}

.socials {
    vertical-align: middle;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 44px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 599px) {
    .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 95vh;
        max-width: 90%;
        margin: 10% 0;
    }

    .drawer {
        border-radius: 15px 15px 0 0;
        background-position: top 0 left 0;
        width: 100%;
    }

    .content {
        padding: 0;
    }

    .title {
        margin-top: 24px;
        font-size: 1.4rem;
        padding: 10px 30px 0 30px;
    }

    .text {
        font-size: 1rem;
        line-height: initial;
        padding: 10px 30px 20px 30px;
    }

    .author {
        padding: 0 30px 30px 30px;
    }

    .author-no-padding {
        padding: 0;
    }

    #btn-share {
        margin-right: 20px;
    }

    .share-tooltip {
        position: absolute;
        left: 0;
        top: -2vh;
        width: 90vw;
        border-radius: 0 0 10px 10px;
    }

    .share-tooltip::after {
        bottom: 0;
    }

    .share-mobile {
        display: flex !important;
        width: 30%;
        align-items: center;
        justify-content: flex-end;
    }

    .share-mobile button {
        background-color: var(--grayish-blue);
    }
}
